<div class="container-fluid">
    <div class="container bg-transparent mt-1 mb-3">
        <div class="row p-3 align-items-center">
            <div class="col-md-12  p-0  border-pt-2">
                <div id="carouselExampleDark" class="carousel slide position-relative" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                            aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="/assets/img/1.JPG" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/assets/img/2.JPG" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/assets/img/3.JPG" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="/assets/img/4.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <div class="position-absolute p-3 w-100" style="bottom:10%;">
                        <div class="row w-100">
                            <div class="col-3">
                                <div class="bg-yellow bordered p-3">
                                    <h6>Project Title</h6>
                                    Sample text. Click to select the text box. Click again or double click to start
                                    editing the text.
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="bg-yellow bordered p-3">
                                    <h6>Project Background</h6>
                                    Sample text. Click to select the text box. Click again or double click to start
                                    editing the text.
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="bg-yellow bordered p-3">
                                    <h6>Project Roadmap</h6>
                                    Sample text. Click to select the text box. Click again or double click to start
                                    editing the text.
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="bg-yellow bordered p-3">
                                    <h6>Project Scope</h6>
                                    Sample text. Click to select the text box. Click again or double click to start
                                    editing the text.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="position-absolute p-3 w-100 top-0" style="left:90%" >
                       <a href=""><h1><i class="bi bi-link-45deg text-light"></i></h1></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>