<div class="container">
  <div class="text-light mt-3 pt-5 mb-2 position-relative">
 
    <h1 >Professional Web Design</h1>
    Hi, I'm <strong>Muhammad Rezki Dwijayanto</strong> and I'm a <strong>Full-stack Developer </strong>.<br>
    I'm currently working as a <strong>Senior Application Engineer </strong> at 
    <a class="text-light fw-bold" href="https://www.se.com">Schneider Electric</a>. <br>
   On the others hand, I'm also a 
    <strong>Freelancer</strong> Programmer. <br>
    I used to handle Web Development, Desktop Development, Embedded Program,<br>
     Microcontroller Program and ETC related to Programming.
    <div class="position-absolute ai-img" style="width: 230px; height:10px;right:5%;top:-0%"> 
      <img src="/assets/img/ai.png" class="w-100 position-absolute top-0 end-0" alt="">
    </div>
  </div>
  <div class="mt-1 mb-3">
    <div class="row p-3 align-items-center">
      <div class="col-md-5 col-sm-12 p-0  border-pt-1">
        <div id="carouselExampleDark" class="carousel  slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="/assets/img/1.JPG"  class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block bg-carouseltp text-light">
                <h6>Quality Mindset</h6>
                <p>Schneider Electric - Monthly Recognition</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/assets/img/2.JPG" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none bg-carouseltp d-md-block">
                <h6>Peforming Extra Duties Beyond Those Normally Assigned</h6>
                <p>Schneider Electric - Monthly Recognition</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/assets/img/3.JPG" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none bg-carouseltp d-md-block">
                <h6>Top 10 International Hackathon</h6>
                <p>International Hackathon Organized by BYOC in Batam State Polytechnic</p>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="/assets/img/4.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none bg-carouseltp d-md-block">
                <h6>3rd Place physics olympiad</h6>
                <p>Physics olympiad organized by batam government</p>
              </div>
            </div>
            <!-- <div class="carousel-item" data-bs-interval="2000">
              <img src="..." class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="..." class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
              </div>
            </div> -->
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 text-light">
       <h3>These image are my achievment during my working time. Start from 2015 until now.
      </h3> 
      </div>
    </div>

  </div>
      
          
       
   
</div>