<div class="container-fluid container mt-3 mb-3 p-5 ">
    <div class="row" style="display: table;">
        <div class="col-md-4 col-sm-12" style=" display: table-cell;">

            <div class="card h-100">
                <div class="card-body">
                    <img src="assets/img/profile.jfif" class="img-fluid" alt="">
                    <br><br>
                    <div class="card-title">
                        <h3>Profile</h3>
                    </div>
                    <div class="card-text">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Nama</td>
                                    <td>: </td>
                                    <td>Muhammad Rezki Dwijayanto</td>
                                </tr>
                                <tr>

                                    <td>Teams</td>
                                    <td>: </td>
                                    <td>Digital Project 1</td>
                                </tr>
                                <tr>

                                    <td>Work</td>
                                    <td>: </td>
                                    <td>Programmer (Assistent Manager)</td>
                                </tr>
                                <tr>
                                    <td>E-Mail</td>
                                    <td>: </td>
                                    <td>Rezki.smkn5@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Whatsapp</td>
                                    <td>: </td>
                                    <td>+6282172273075/td>
                                </tr>
                                <tr>
                                    <td>Mobile</td>
                                    <td>: </td>
                                    <td>+6282172273075/td>
                                </tr>
                                <tr>
                                    <td>Linkedin</td>
                                    <td>: </td>
                                    <td><a href="https://www.linkedin.com/in/muhammad-rezki-dwijayanto-0b5436149/"
                                            alt="My Linkedin" target="_blank">My Linkedin</a></td>
                                </tr>
                                <tr>
                                    <td>Education</td>
                                    <td>: </td>
                                    <td>Bachelor's Degree</td>
                                </tr>
                                <tr>
                                    <td>Major</td>
                                    <td>: </td>
                                    <td>Mechatronics Engineering</td>
                                </tr>
                                <tr>
                                    <td>University</td>
                                    <td>: </td>
                                    <td>Batam State Polytechnic</td>
                                </tr>
                                <tr>
                                    <td>Publication</td>
                                    <td>: </td>
                                    <td><a href="https://ieeexplore.ieee.org/document/9221678">AI - Object Recognition
                                            Using YOLO</a></td>
                                </tr>
                                <tr>
                                    <td>Language</td>
                                    <td>: </td>
                                    <td>English & Indonesia</td>
                                </tr>
                                <tr>
                                    <td>Interest</td>
                                    <td>: </td>
                                    <td>Programming, Music & Travelling</td>
                                </tr>

                            </tbody>
                        </table>

                    </div>
                    <div class="card-title">
                        <h3>Framework</h3>
                        <h6>Angular 14.0 (Type Script)</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 85%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Vue.JS</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 85%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Express JS</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 85%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Node-Red</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 85%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Node Js</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 80%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <h6>UI/UX</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 75%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <h6>CodeIgniter</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 85%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Laravel</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 70%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                        <h6>.Net MVC</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 85%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>.Net Core</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 85%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Django</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 75%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <h6>Bootsrap</h6>
                        <div class="progress mb-2">
                            <div class="progress-bar bg-yellow" role="progressbar" style="width: 95%"
                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>

                        <h3>Skills</h3>
                        <h6>
                            <p><strong>Programming Skills</strong></p>
                            <div class="d-flex justify-content-start flex-wrap">
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Javascript</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Typescript</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Jquery</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">AJAX</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">HTML5</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">CSS</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">PHP</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">C#</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">VB</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Pyton</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">SQL Server</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Postgrea SQL</div>
                             </div>
                            <p></p>
                            <p><strong>Others Skills</strong></p>
                            <div class="d-flex justify-content-start flex-wrap">
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">PLC</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Vision</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">IIoT</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Oracle</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Office</div>
                              
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Artificial Intelligence</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">RPA</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">DevOPS</div>
                              
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Cisco</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Labview</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">C++</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">C</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Arduino</div>
                              
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">PID</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">DNN (Deep Neural Network)</div>
                              
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">NN (Neural Network)</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Mysql</div>
                              
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Supervised Learning</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Linux</div>
                              
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">System Analyze</div>
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Linux Mikrotik</div>
                             
                            <div class="card bg-blue text-light d-inline p-0 px-2   m-1">Macro VBA (Office)</div>
                       
                            </div>
                         
                       
                      
                               </h6>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-8 col-sm-12"style=" display: table-cell;" >

            <div class="card h-100">
                <div class="card-body">
                    <div class="card-title">
                        <h3>Working Experience</h3>
                    </div>
                    <div class="card-title">
                        <h6>Programmer</h6>
                        <h6>Cladtek Corporate Batam</h6>
                        <strong>Oil & Gas Company</strong>
                        <div>Periode : Juli - 2019 - December 2019</div>
                        <strong>Task & Project</strong>
                    </div>
                    <div class="card-text">
                        <ol>
                            <li>Upgraded annealing and hydrotest machine to SCADA in 2018.</li>
                            <li>Development: Twin Head Cladding Machine with Camera Integration.                            </li>
                            <li>Development: Custom Mechatrolink Library Creation.</li>
                            <li>Development: High-Compression Image Algorithm Implementation.</li>
                            <li>Development: Direct Pylon Camera Integration for Defect Inspection.</li>
                            <li>Development: Spider Welding Inspection System.</li>
                        </ol>
                    </div>

                    <div class="card-title">
                        <h6>Web Developer</h6>
                        <h6>Panasonic Industrial Devices Batam - Singapore</h6>
                        <strong>Manufacturing Company</strong>
                        <div>Periode : December 2019 - January 2022</div>
                        <strong>Task & Project</strong>
                    </div>
                    <div class="card-text">
                        <ol>
                            <li>Development: Digital Approval and Purchasing System as PIC & Developer.</li>
                            <li>Development: Digitization of Suspense System.</li>
                            <li>Development: PR Tracking and Monitoring System.</li>
                            <li>Development: Digitization of Withholding Tax System.</li>
                            <li>Development: New HS Code System Implementation.</li>
                            <li>Development: Shipping Approval System Implementation.</li>
                            <li>Improvement of the system to ensure compliance with Deloitte audit requirements.</li>
                            <li>Enhancement and optimization of the query system to achieve improved and more accurate results.</li>
                            <li>The key person responsible for handling issues related to architectural matters.</li>
                        </ol>
                    </div>
                    <div class="card-title">
                        <h6>Senior Application Engineer</h6>
                        <h6>GSC INT EAJ Digital Transformation</h6>
                        <strong>Schneider Electric</strong>
                        <div>Periode : January 2022 - Now</div>
                        <strong>Task & Project</strong>
                    </div>
                    <div class="card-text">
                        <ol>
                            <li>Development of a Digital Transformation Portal for the Global Region.</li>
                            <li>Development and implementation of digitization and developer provisioning and prevention initiatives for the APAC region, with a focus on the EAJ scope.</li>
                            <li>Development of a Digitization and Developer Defect Library for the APAC region, specifically focusing on the EAJ scope.</li>
                            <li>Development of a Digitization and Developer Digital Twin of the Company Index. </li>
                            <li>Development of a Digitization and Developer Surveillance System.</li> 
                            <li>Providing support for issue resolution and bug fixing in the SG (Singapore) Picking process system.</li>
                            <li>As the Project Leader, responsible for leading the enhancement efforts in the Dispatch system.</li>
                        </ol>
                    </div>
                    <div class="card-title">
                        <h6>Programmer</h6>
                        <h6>Position: Assistant Manager</h6>
                        <strong>Sinarmas Sentra Cipta</strong>
                        <div>Periode : December 2022 - June 2023</div>
                        <strong>Task & Project</strong>
                    </div>
                    <div class="card-text">
                        <ol>
                            <li>Development: Issue Resolution and Feature Addition for the DOTMS Mobile Application using Kotlin.</li>
                            <li>Development: DOTMS Stock Opname and Piloting using Node-RED as the front-end template builder with a new tech stack.</li>
                            <li>Research and development of the best architecture for creating a server-side rendered (SSR) front-end framework using Node-RED.</li>
                            <li>Research and development of an automated detection system for oil palm using a four-wheel mobile robot for detection and harvesting purposes.</li>
                        </ol>
                    </div>
                    <div class="card-title">
                        <h6>Freelancer</h6>
                        <strong>Self Management</strong>
                        <div>Periode : January 2012 - Now</div>
                        <strong>Task & Project</strong>
                    </div>
                    <div class="card-text">
                        <ol>
                            <li>Development of a Blogger template in 2012.</li>
                            <li>Development of a Social Media Network using J-Cow in 2013.</li>
                            <li>Development of a website for ShoutMe Hosting in 2013.</li>
                            <li>Development of a website using Joomla in 2014.</li>
                            <li>Development of a website using WordPress in 2014.</li>
                            <li>Development of a company website in 2015.</li>
                            <li>Development of the Khazanah Management System in 2019.</li>
                            <li>Development of a website for AR Undangan in 2019.</li>                         
                            <li>Development of a website ticketing system in 2020.</li>
                            <li>Development of the ChantikaWedding website in 2020.</li>
                            <li>Programming of the production machine for lightsabers in 2021.</li>
                        </ol>
                    </div>
                    <div class="card-title">
                        <h6>Achievment</h6>
                        <strong>List of Achievment</strong>
                        <div>Periode : January 2013 - Now</div>
                    </div>
                    <div class="card-text">
                        <ol>
                            <li>Achievement: HMTI FAIR - 3rd Place in IT Quiz Competition (2013)</li>
                            <li>Achievement: HMTI FAIR - 2nd Place in Blogger Design Competition (2013)</li>
                            <li>Achievement: 3rd Place in Vocational School Physics Olympiad (2014)</li>
                            <li>Achievement: HMTI FAIR - 2nd Place in IT Quiz Competition (2013)</li>
                            <li>Achievement: 4th Place in Soft Solutions Business (2014)</li>
                            <li>Achievement: Top 10 in the International Hackathon Coding Competition by BYOC in Batam State Polytechnic</li>
                            <li>Achievement: Presenter & Authors of Publication Papers on Real-Time Object Recognition for Football Field Landmark Detection Based on Deep Neural Networks at the International Conference Applied Engineer (2019)</li>
                            
                        </ol>
                    </div>
                    <div class="card-title">
                        <h6>Volounter Experience</h6>
                        <strong>List of my Volounter</strong>
                        <div>Periode : January 2013 - Now</div>
                    </div>
                    <div class="card-text ">
                        <ol>
                            <li>Leadership Role: Chief of the Muslim Spiritual Organization at Vocational High School 5 Batam from 2012 to 2013.</li>
                            <li>Leadership Role: Member of the Student Association for Environmental and Adventure Activity at Batam State Polytechnic from 2016 to 2019.</li>
                            <li>Leadership Role: Member of the Sports Committee at Batam State Polytechnic from 2016 to 2017.</li>
                            <li>Leadership Role: Head of Department for Kaderisasi in the Student Art Association at Batam State Polytechnic from 2017 to 2018.</li>
                            <li>Leadership Role: Head of Department Documentation in the Youth Mosque Association at Jabal Arafah Mosque from 2019 to 2021.</li>
                        </ol>
                        
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>